:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Theme Colors */
  --primary-color: #2563eb;
  /* Blue for buttons */
  --primary-hover: #1d4ed8;
  --secondary-color: #5b21b6;
  /* Purple for Table Header */
  --header-text: #3730a3;
  /* Dark Purple for Title */
  --bg-sidebar: #f0f7ff;
  /* Light Blue for Sidebar */
  --bg-app: #e0e7ff;
  /* App Background */
  --text-primary: #1e293b;
  --text-secondary: #64748b;
  --border-color: #cbd5e1;
  --white: #ffffff;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  color: var(--text-primary);
  background-color: var(--bg-app);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-app);
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}